<div id="<%= dom_id vacant %>">
  <p>
    <strong>Title:</strong>
    <%= vacant.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= vacant.description %>
  </p>

  <p>
    <strong>Salary:</strong>
    <%= vacant.salary %>
  </p>

  

</div>
